<div class="eight columns offset-by-two contact">

<h4><i class="fa fa-certificate"></i> Our Companies</h4>
<h2>Purple Stone Group is a group of companies that deal with accommodation, education, career advice and media services.</h2>
<hr>
<p>Purple Stone Group is made of Purple Stone Rooms, Purple Stone Academy, Purple Stone Career Advice and Purple Stone Media.</p>
<hr>

<div class="row">
	<div class="three columns">
		<%= image_tag "logo_psr.png", width: '170', alt: "Purple Stone Rooms" %>
		<p>Purple Stone Rooms is a company that provides accommodation for young people in London.</p>
	</div>

	<div class="three columns offset-by-one">
		<%= image_tag "logo_psa.png", width: '170', alt: "Purple Stone Academy" %>
		<p>Purple Stone Academy is a company that offers English lessons and other courses for adult young students.</p>
	</div>
</div>

<hr>

<div class="row">
	<div class="three columns">
		<%= image_tag "logo_psca.png", width: '220', alt: "Purple Stone Career Advice" %>
		<p>Purple Stone Career Advice advises mainly young people about how to find their first job in London.</p>
	</div>

	<div class="three columns offset-by-one">
		<%= image_tag "logo_psm.png", width: '170', alt: "Purple Stone Media" %>
		<p>Purple Stone Media offers media services for small businesses.</p>
	</div>
</div>

</div>