<div class="eight columns offset-by-two contact">

<h4><i class="fa fa-money"></i> Investment</h4>
<%= image_tag "img_interior_investment.jpg" %><br /><br />
<h3>Purple Stone Group offers excellent investment opportunities for:</h3>
<ul class="disc">
	<li>Investors</li>
	<li>Business Owners</li>
	<li>Landlords</li>
</ul>

<hr>

<h3>Investors</h3>
<h2>Are You Looking For High Returns on Your Investment?</h2>
<p>Purple Stone Group is looking for Investors to partner with us in our different investment plans.
Investors will be offered:</p>
<ul class="disc">
	<li>High return on investment.</li>
	<li>Recession proof investment that can be managed from any part of the world.</li>
	<li>Knowledge of the return on investment from the first day.</li>
</ul>
<p>For more information please visit www.purplestonegroup.com or contact Harry Sardinas by email at: generaldirector@purplestonegroup.com</p>

<hr>

<h3>Business Owners</h3>

<hr>

<h3>Landlords</h3>
<h2>Sell Your House Quickly* or Get Guaranteed Rent*</h2>
<p>Due to a high demand that we are facing for room rentals from young professionals and students ,
Purple Stone Rooms is looking to expand the property portfolio in London.</p>
<p>If you are a landlord and you are interested in renting out your property, we offer you:</p>

<ul class="disc">
	<li>Free property maintenance.**</li>
	<li>Guaranteed rental income for 3 to 5 years, regardless of void periods.</li>
	<li>No administration fees.</li>
	<li>If your premises meet our criteria, we rent your property within 24 hours after valuation.</li>
</ul>
 	
<p>If you are interested to sell your property, and your house meets our demands, we will buy it immediately.</p>
<p>For more information contact Harry Sardinas by email to <%= mail_to "generaldirector@purplestonerooms.com", "General Director", class: "button" %><br />
Or visit www.purplestonerooms.com</p>
<note><i class="fa fa-asterisk"></i> in London only.</note><br />
<note><i class="fa fa-asterisk"></i><i class="fa fa-asterisk"></i> In all our rentals we pay for all property maintenance bills during the term, as long as they are below £100.00.</note>


</div>
