<div class="eight columns offset-by-two contact">

<h4><i class="fa fa-users"></i> Partner With Us</h4>
<%= image_tag "img_interior_partner.jpg" %><br /><br />
<h3>Purple Stone Group is looking for Joint Venture Partners.</h3>

<hr>

<p>Propuesta a las empresas de que le hacemos el marketing y todo el diseno por x porciento del profit.</p>
<p>Please contact Harry Sardinas by email to <%= mail_to "generaldirector@purplestonerooms.com", "General Director", class: "button" %></p>

</div>
